{% extends 'base.html' %}

{% load static %}

{% block content %}

{% if artists %}

    <div class="artists-container">
        <h2>MOST LISTENED ARTISTS</h2>
        {% for artist, count in artists.items %}
            <div class="artist-container">
                <div class="artist-position"># {{ forloop.counter }}</div>
                <div class="artist-item">
                    <div class="artist_name">{{ artist }}</div>
                    <div class="artist_count">{{ count }}</div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="nav-container">
        <button id="prev-btn" class="nav-btn"><i class="fa-solid fa-arrow-left"></i></button>
        <button id="next-btn" class="nav-btn"><i class="fa-solid fa-arrow-right"></i></button>
    </div>


{% else %}

<div class="intro-text">
    <h2>Welcome</h2>
</div>

{% endif %}

{% endblock content %}

{% block extra_js %}
<script>
</script>
{% endblock %}